# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Dependencies
venv/
.venv/
.env
.env.local
*.env.*

# Logs
*.log
debug_output.log

# Editors
.vscode/
.idea/
*.swp
*.swo
*.tmp

# Build artifacts
dist/
build/
.coverage
coverage/
htmlcov/

# App Data
app/config.json

# OS
.DS_Store
Thumbs.db